<h1>Please upload pictures with plain background</h1>
<h2>
<form action="/images" method="post">
  <label for="">Catalog:</label>
  <input type="text" name="catalog">

  <label for="">Name</label>
  <input type="text" name="name">
  <br>
  <label for="">Front Image:</label>
  <input type="text" name="image_front">
   <br>
  <label for="">Back Image:</label>
  <input type="text" name="image_back">
   <br>
  <label for="">Top Image:</label>
  <input type="text" name="image_top">
   <br>
  <label for="">Bottom Image:</label>
  <input type="text" name="image_bottom">
   <br>
  <label for="">Left Image:</label>
  <input type="text" name="image_left">
   <br>
  <label for="">Right Image:</label>
  <input type="text" name="image_right">

  <button>Upload!</button>
</form>
</h2>


