.image-list img{
    width: 200px;
    height: 200px;
}

body{
    margin:50px;
    background-color: lightblue;   
    text-align: left;
}

h1{
    color: cornflowerblue;
    font-family: 'Bungee', cursive;
    font-size: 60px;
}

h2{
    color: black;
    font-family: 'Exo 2', sans-serif;
}

a{
    color: black;
    font-family: 'Exo 2', sans-serif;
}

.dropbtn {
    background-color:royalblue;
    color: white;
    padding: 16px;
    font-family: 'Bungee', cursive;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {background-color: grey}

.dropdown:hover .dropdown-content {
    display: block;
}
